// Copyright 2021 Manna Harbour
// https://github.com/manna-harbour/miryoku

// 1. Miryoku Includes must be at the top
#include "../miryoku/custom_config.h" 
#include "../miryoku/mapping/42/corne.h"

// 2. Main Devicetree Node (The / is required)
/ {
    // A. ZMK Studio RPC Overlays
    chosen {
        zmk,studio-rpc-endpoint = &studio_rpc_usb;
    };
    
    studio_rpc_usb: studio_rpc_usb {
        compatible = "zmk,studio-rpc-uart";
        status = "okay";
        label = "STUDIO_RPC_USB";
    };

    // B. Keymap Node
    keymap {
        compatible = "zmk,keymap";

        // Includes the core Miryoku layers (dtsi should be inside the keymap node)
        #include "../miryoku/miryoku.dtsi"

        // Layers added for ZMK Studio
        extra1 { status = "reserved"; };
        extra2 { status = "reserved"; };
    };
};
