/* Enable the hardware SPI bus on the nice!nano */
&spi0 {
    status = "okay";
};

/* Create the alias/label globally */
/ {
    /* This creates the label 'nice_view_spi' pointing to '&spi0' */
    nice_view_spi: &spi0 { };

    chosen {
        zmk,studio-rpc-endpoint = &studio_rpc_usb;
    };

    studio_rpc_usb: studio_rpc_usb {
        compatible = "zmk,studio-rpc-usb-uart";
        label = "STUDIO_RPC_USB";
    };
};
