/* * Force-enable the SPI bus and provide the labels needed 
 * by the nice!view shield and adapter.
 */

&spi0 {
    status = "okay";
};

/ {
    /* Manually bridge the labels to the hardware SPI0 bus */
    nice_view_spi: &spi0 {};
    pro_micro_spi: &spi0 {};

    chosen {
        zmk,studio-rpc-endpoint = &studio_rpc_usb;
    };

    studio_rpc_usb: studio_rpc_usb {
        compatible = "zmk,studio-rpc-usb-uart";
        label = "STUDIO_RPC_USB";
    };
};
